/* Links
--------------------------------------------------------------*/

a {
	color: $color__highlight;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		color: $color__secondary;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}

	&.arrow {
		margin-right: .25em;
		transition: all .2s ease-in-out;

		&:after {
			border-style: solid;
		    border-color: inherit;
		    border-width: 2px 2px 0px 0px;
			content: '';
			display: inline-block;
			position: relative;
			width: 6px;
		    height: 6px;
			margin-left: .5em;
		    transform: rotate(45deg);
			transition: all .2s ease-in-out;
			top: -1px;
		}
		&:hover,
		&:focus,
		&:active {
			margin-right: .5em;

			&:after {
				margin-left: .25em;
				border-color: $color__secondary;
			}
		}
	}

	&.line {
		position: relative;

		&:before {
			background-color: currentColor;
		    bottom: -0.25em;
		    content: '';
		    height: 2px;
		    position: absolute;
			transition: width .25s ease-in-out;
		    width: 0%;
		}
		&:hover,
		&:focus,
		&:active {
			&:before {
				width: 100%;
			}
		}
	}
}
