/*
 * Menus
--------------------------------------------------------------*/

.site-navigation {
	display: table-cell;
	font-family: $font__menus;
	min-width: 520px;
	text-align: right;
	vertical-align: middle;
	z-index: 2;

	.menu-wrap {
		position: relative;
	}

	a {
		border-bottom: 1px solid transparent;
		color: #222222;
		display: inline-block;
		letter-spacing: 1px;
		padding: .938em .125em;
	}

	a:hover,
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		border-bottom: 1px solid currentColor;
	}

	.menu-item-has-children > a {
		padding-right: 1em;
	}

	ul {
		line-height: 1;

		ul {
			display: block;
		}
	}

	li {
		display: inline-block;
		position: relative;
		margin-right: 1em;


		&:hover > .sub-menu {
			left: auto;
			opacity: 1;
		}

		&.accent {
			border: 1px solid $color__secondary;

			a {
				padding: .938em .5em;
				border-color: transparent;

				&:hover {
					border-color: transparent;
				}
			}
		}
	}

	/* SUB MENU -------------------- */
	.sub-menu {
		background:#ffffff;
		border-top: 1px solid $color__base-xlight;
		left: -9999px;
		opacity: 0;
		position: absolute;
		text-align: left;
		top: 100%;
		transition: all .2s ease-in;
		width: 190px;
		z-index: 99;

		a {
			border-bottom: 1px solid $color__base-xlight;
			border-left: 1px solid $color__base-xlight;
			border-right: 1px solid $color__base-xlight;
			color: $color__base !important;
			line-height: 1.25;
			padding: .75em 1.125em;
			text-transform: none;
			transition: all .2s ease-in-out;
			width: 190px;
			@include font-size(1.2);
		}

		a:hover,
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			background-color: rgba(0, 0, 0, 0.05);
		}

		li {
			margin-left: 0;
		}

		.sub-menu {
			margin: -14% 0 0 90%;
		}
	}
}

button.dropdown-toggle {
	border: 0;
	background: none;
	color: $color__base;
	padding: 0;
    position: relative;
    right: 7px;

	&:focus {
		outline: 0;
	}
}

button.dropdown-toggle:after {
	content: '';
	display: inline-block;
	position: relative;
	top: -3px;
	right: 0;
	width: 6px;
    height: 6px;
	border-style: solid;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
	transition: all .05s ease-in-out;
}

button.dropdown-toggle:focus {
	outline: 0;
}

button.dropdown-toggle.toggled-on:after {
    border-width: 1px 0 0 1px;
	top: 3px;
}

.sub-menu button.dropdown-toggle {
	color: $color__base;
	position: absolute;
	right: 8px;
	top: 0;
	padding: 0;
}

.header-wrap.stuck {
	button.dropdown-toggle {
		color: #000000;
	}
	.site-navigation  li.search-icon .theicon {
		border-color: #000000;

		&:before,
		&:after {
			background-color: #000000;
		}

	}
	.site-navigation a {
		color: #222222;
	}
}
