.site-navigation {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
	z-index: 2;

	.menu-wrap {
		position: relative;
	}

	.menu-span {
		display: inline-block;
		position: relative;
		//width: 100%;

		@include breakpoint(tablet-v) {
			display: block;
		}
	}

	ul {
		line-height: 0;

		ul {
			display: block;
		}
	}

	li {
		display: inline-block;
		margin-right: 1em;
		position: relative;

		&:hover > .sub-menu,
		&.focus > .sub-menu {
			left: auto;
			opacity: 1;
		}
	}

	a {
		color: #ffffff;
		display: inline-block;
		letter-spacing: 1px;
		padding: 1.5rem .25rem 1.25rem;
		position:relative;

		&:before {
			border-bottom: 1px solid currentColor;
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			opacity: 0;
			width: 0%;
			transition: all 0.125s ease-in;
		}
	}

	a:hover:before,
	.current_page_ancestor > a:before,
	.current-menu-ancestor > a:before,
	.current_page_item > a:before,
	.current-menu-item > a:before {
		opacity: .5;
		width: 100%;
	}

	.menu-item-has-children > a {
		padding-right: 1.5em;
	}

	// SUB-MENU
	.sub-menu {
		display: block;
		left: -9999px;
		margin-top: -1px;
		margin-left: -.875em;
		opacity: 0;
		position: absolute;
		text-align: left;
		top: 100%;
		transition: all .05s ease-in;
		width: 190px;
		z-index: 2;

		a {
			background:#ffffff;
			border: 0;
			color: $color__base;
			line-height: 1.375;
			padding: .75rem 1.125rem;
			text-transform: none;
			transition: all .05s ease-in;
			width: 100%;
			@include font-size(.75);

			&:hover,
			&:focus {
				background:#f3f3f3;
			}
			&:before {
				display: none;
			}
		}

		.current_page_item > a,
		.current-menu-item > a {
			background:#f3f3f3;
		}

		li {
			border-bottom: 1px solid $color__base-xlight;
			border-left: 1px solid $color__base-xlight;
			border-right: 1px solid $color__base-xlight;
			margin-right: 0;
			width: 100%;

			&:first-of-type {
				border-top: 1px solid $color__base-xlight;
			}
		}

		.sub-menu {
			margin: -14% 0 0 90%;
		}
	}
}

@include breakpoint(tablet-min-v) {
	.site-navigation .menu {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		
		.sub-menu {
			white-space: normal;
		}
	}
	.menu > li {
		white-space: nowrap;
	}
	.sub-menu li {
        display: block;
        white-space: normal;
	}
}

button.dropdown-toggle {
	border: 0;
	background: none;
	color: #ffffff;
	padding: 0;
    position: relative;
    right: .75rem;
	z-index: -1;
}

button.dropdown-toggle:after {
	content: '';
	display: inline-block;
	position: relative;
	top: -3px;
	right: 0;
	width: 6px;
    height: 6px;
	border-style: solid;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
	transition: all .05s ease-in;
}

button.dropdown-toggle.toggled-on:after {
    border-width: 1px 0 0 1px;
	top: 1px;
}

.sub-menu button.dropdown-toggle {
	color: $color__base;
	padding: 0;
	position: absolute;
	right: 8px;
	top: 0;
	z-index: 1;
}
.sub-menu button.dropdown-toggle:after {
	top: 2px;
}
.sub-menu button.dropdown-toggle.toggled-on:after {
	top: 4px;
}
