@include breakpoint(tablet-v) {
	.site-navigation {
		clear: both;
		display: block;
		float: none;
		margin-left: -5.5%;
		margin-right: -5.5%;
		padding-top: 0;
		text-align: left;
		min-width: 100%;
		@include font-size(.875);

		.menu-wrap {
			background-color: #ffffff;
			overflow: hidden;
		    padding: 0 2%;
			max-height: 0;
			transition: all .25s ease;
		}

		&.toggled-on .menu-wrap {
			display: block;
			max-height: 1000px;
			padding: 1em 2%;
		}

		a {
			border: 0;
			color: #222222 !important;
			display: block;
			overflow: hidden;
			padding: 1.25em 1em 1em 1.5em;
			position: relative;
			width: 100%;
		}

		a:hover,
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			background-color: rgba(102, 102, 102, 0.15);
			border: 0;
		}

		.menu-item-has-children > a {
			padding-right: 0;
		}

		ul {
			border-top: 1px solid $color__base-light;
			display: block;
			float: none;
			margin-left: 0;
		}

		li {
			border-bottom: 1px solid $color__base-light;
			display: block;
			margin-right: 0;
			position: relative;

			&:last-of-type {
				border-bottom: 0;
			}

			&.accent {
				margin-top: .5em;

				a {
					padding-bottom: .75em;
					padding-left: 1.5em;
				}
			}

			li  {
				display: block;

				a {
					padding-left: .5em;
					@include font-size(.875);
				}
			}
		}

		li:not(.search-icon) a:before {
			content: none;
		}

		.dropdown-toggle {
			border-left: 1px solid $color__base-light;
			color: #222222 !important;
			cursor: pointer;
			display: inline-block;
			margin-left: 0;
			padding: .5em 1.375em .6125em;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;

			&:hover {
				background-color: rgba(0, 0, 0, 0.05);
			}
		}

		/* SUB MENU -------------------- */
		.sub-menu {
			background: none;
			border-top: 1px solid $color__base-light;
			display: none;
			left: auto;
			margin-left: 0;
			opacity: 1;
			position: relative;
			top: auto;
			width: 100%;

			&.toggled-on {
				display: block;
			}

			a {
				border: 0;
				color: #222222 !important;
				padding-left: 2.5em;
				width: 100%;
			}

			button.dropdown-toggle {
				padding: 0 1.375em .425em;
				right: 0;
			}

			.sub-menu {
				margin: 0;

				a {
					padding-left: 3.5em;
				}
			}
		}
	}
}
