/* Pagination */
.pagination,
.page-links {
	clear: both;
	margin-bottom: 1.5em;

	a,
	.current {
	  border-radius: 3px;
	  color: #ffffff;
	  cursor: pointer;
	  display: inline-block;
	  margin: 0.25em 0;
	  padding: 6px 12px;
	  text-decoration: none;
	}

	a {
		background-color: $color__base;
	}

	.current,
	a:hover,
	a.current {
		background-color: $color__base-medium;
	}
}
