/* 404 Eror page
--------------------------------------------- */

.error404 .content-area {
	text-align: center;
	padding-bottom: 12em;
}

.error404 .page-title,
.error404 .error-message {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.error404 .page-title {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.error404 .error-message {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.error404 .page-title {
    -webkit-animation-name: tada;
    animation-name: tada;
}
@-webkit-keyframes tada {
    0% {-webkit-transform: scale(1);}
    10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
    100% {-webkit-transform: scale(1) rotate(0);}
}
@keyframes tada {
    0% {transform: scale(1);}
    10%, 20% {transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
    100% {transform: scale(1) rotate(0);}
}

.error404 .error-message {
    -webkit-animation-name: hinge;
    animation-name: hinge;
}
@-webkit-keyframes hinge {
    0% { -webkit-transform: rotate(0); -webkit-transform-origin: center center; -webkit-animation-timing-function: ease-in-out; }
    30%, 60% { -webkit-transform: rotate(40deg); -webkit-transform-origin: center center; -webkit-animation-timing-function: ease-in-out; }
    60% { -webkit-transform: rotate(-20deg); -webkit-transform-origin: center center; -webkit-animation-timing-function: ease-in-out; }
    90% { -webkit-transform: rotate(10deg) translateY(0); opacity: 1; -webkit-transform-origin: center center; -webkit-animation-timing-function: ease-in-out; }
    100% { -webkit-transform: translateY(400px); opacity: 0; }
}
@keyframes hinge {
    0% { transform: rotate(0); transform-origin: center center; animation-timing-function: ease-in-out; }
    30%, 60% { transform: rotate(40deg); transform-origin: center center; animation-timing-function: ease-in-out; }
    60% { transform: rotate(-20deg); transform-origin: center center; animation-timing-function: ease-in-out; }
    90% { transform: rotate(10deg) translateY(0); opacity: 1; transform-origin: center center; animation-timing-function: ease-in-out; }
    100% { transform: translateY(400px); opacity: 0; }
}
