/* Comments
--------------------------------------------- */

.comments-area {
	padding: 1.5em 0;

	.comments-title {
		@include font-size(3);
	}
}


.comment-respond,
.entry-comments,
.entry-pings {
	margin: 2.5em 0;
}

.comment-content {
	clear: both;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond {

	.comment-reply-title {
		@include font-size(2.5);
		margin-bottom: .5em;

		small {
			display: block;
		}
	}

	#cancel-comment-reply-link {
		padding: .5em 0 .5em .75em;
		position: relative;
		width: auto;
		@include font-size(1.4);

		&:hover {
			background-color: $color__base-xxlight;
		}

		&:before {
			content: 'x';
			position: absolute;
			left: 0;
			top: .5em;
		}
	}

	label {
		display: block;
		margin-right: 12px;
	}
}


.comment-list li,
.ping-list li {
	list-style-type: none;
}

.comment-list li {
	background-color: #ffffff;
	box-shadow: 0px 0px 8px $color__base-xlight;
	border-radius: 12px;
	margin-top: 24px;
	padding: 32px;
	width: 100%;

	li {
		background-color: $color__base-xxlight;
		li {
			background-color: #ffffff;
			li {
				background-color: $color__base-xxlight;
				li {
					background-color: #ffffff;
				}
			}
		}
	}
}

.entry-pings .reply {
	display: none;
}

.comment-edit-link,
.says {
	display: none;
}

.bypostauthor {
	display: inline-block;
}
