/* Entries
--------------------------------------------- */
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-title {
	font-family: $font__headers;
	margin: 0 0 .25em;
}

.page-title {
	font-family: $font__headers;
	margin: 0;

	div {
		@include font-size(1.6);
		text-transform: uppercase;
	}
}

body.page .entry-header,
body.single .entry-header,
body.blog .page-header,
body.archive .page-header,
body.search .page-header,
body.error404 .page-header {
	color: #ffffff;
	height: 360px;
	position: absolute;
	top: 0;
	//left: 0;
	width: 100%;

	@include breakpoint(phone-h) {
		height: 270px;
	}

	.title-wrap {
		position: absolute;
		bottom: 10%;
		padding-left: 0;
		padding-right: 80px
	}
}

.custom-header-image .inner-wrap {
	height: 100%;
}


body.page .entry-title,
body.single .entry-title,
body.blog .page-title,
body.archive .page-title,
body.search .page-title,
body.error404 .page-title {
	font-weight: $font__weight-semibold;
	letter-spacing: 1px;
	padding: 0;
	word-break: break-word;
	text-shadow: 0 0 8px rgba(0, 0, 0, .5);
	line-height: 1;

	@include breakpoint(phone-h) {
		@include font-size(3);
	}
}
.home:not(.blog) .entry-header {
	display: none;
}

.entry-content {
	ol,
	ul {
		margin-left: 2.5em;
		margin-bottom: 1.5em;

		li {
			line-height: 1.4;
			padding-bottom: .5em;
		}
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-bottom: 0;
	}

	dt {
		font-weight: $font__weight-bold;
	}

	dd {
		margin: 0 1em 1em;
	}
}


.single {
	.hentry {
		margin-bottom: 6em;
	}
	.entry-content {
		margin-bottom: 2em;
	}
}

body.admin-bar.page .entry-header,
body.admin-bar.single .entry-header,
body.admin-bar.blog .page-header,
body.admin-bar.archive .page-header,
body.admin-bar.search .page-header,
body.admin-bar.error404 .page-header {
	top: 82px;
}
