.entry-footer {
	border-top: 1px dashed $color__base-xlight;
	border-bottom: 1px dashed $color__base-xlight;
	color: $color__base-medium;
	padding: .5em 0;

	a {
		color: $color__base-medium;

		&:hover {
			color: currentColor;
			opacity: .75;
		}
	}
}

.cat-links,
.tags-links {
	display: inline;
	margin-right: .75em;
	padding:5px 10px 5px 0;
}

.edit-link {
	float: right;
	a {
		display: inline-block;
	}
}
