.entry-title {
	margin: 0;
}

.page-title {
	margin: 0;

	div {
		@include font-size(1);
		text-transform: uppercase;
	}
}

body.page .entry-header,
body.single .entry-header,
body.blog .page-header,
body.archive .page-header,
body.error404 .page-header {
	margin-bottom: 2em;
}

body.page .entry-title,
body.single .entry-title,
body.blog .page-title,
body.archive .page-title,
body.search .page-title,
body.error404 .page-title {
	letter-spacing: 1px;
	padding: 0;
	word-break: break-word;

	@include breakpoint(phone-h) {
		@include font-size(1.875);
	}
}

body.home h1.entry-title {
	display: none;
}

.entry-content {
	@include font-size(1.0625);

	@include breakpoint(phone-h) {
		@include font-size(1);
	}

	ol,
	ul {
		margin-left: 2.5em;
		margin-bottom: 1.5em;

		li {
			line-height: 1.4;
			padding-bottom: .5em;
		}
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-top: .5em;
		margin-bottom: 0;

		li:last-child {
			padding-bottom: 0;
		}
	}

	dt {
		font-weight: $font__weight-bold;
	}

	dd {
		margin: 0 1em 1em;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.single {
	.hentry {
		margin-bottom: 6em;
	}
	.entry-content {
		margin-bottom: 2em;
	}
}
