/*
 * ENTRY META
-------------------------------------------*/

.entry-meta {
	color: $color__base-light;
	@include font-size(.75);

	.posted-on,
	.updated-on,
	.byline {
		color: $color__base-light;
		display: inline-block;
		padding-right: .5em;

		a {
			color: $color__base-medium;

			&:hover {
				color: $color__base-light;
			}
		}
	}

	.updated-on {
		display: block;
	}

	.comments-link {
		margin-left: .5em;

		a {
			color: $color__base-medium;

			&:hover {
				color: $color__base-light;
			}
		}
	}
}
