.search {

	.page-header {
		margin-bottom: 2em;
		margin-top:-1em;
	}

	.page-title {
		span {
			font-family: $font__main;
			font-weight: $font__weight-normal;
			text-transform: none;
			display: block;
			@include font-size(1);
		}
	}

	article {

		&:before,
		&:after {
			@include clearfix;
		}
		&:after {
			@include clearfix-after;
		}
	}

	.featured-image {
		float: left;

		@include breakpoint(phone-h) {
			display: block;
			float: none;
			margin: 0;
			text-align: center;
		}
	}
}
