/*
 * Site Header
---------------------------------------------------------------- */

.site-header {
	position: relative;
	width: 100%;

	.wrap {
		position: relative;
		height: 400px;
		transition: all .5s ease;

		@include breakpoint(phone-h) {
			height: 230px;
		}
	}

	.inner-wrap {
		display: table;
	}
}

.header-wrap {
	background-color: #ffffff;
	position: relative;
	z-index: 100;
	transition: all .5s ease;
}

// HOMEPAGE
.home .site-header .wrap {
	min-height: 600px;

	@include breakpoint(tablet-v) {
		min-height: auto;
		height:  500px;
	}
	@include breakpoint(phone-h) {
		height: 300px;
	}
}

// FULL HEIGHT
.home.fullheight .site-header .wrap {
	height: 100vh;
}

// BRANDING BLOCK
.site-branding {
	display: table-cell;
	text-align: left;
	padding: 1em 0;
	vertical-align: middle;
	transition: all .5s ease;

	@include breakpoint(tablet-v) {
		width: 88%;
		display:block;
	}

	@include breakpoint(phone-h) {
		padding-bottom: .75em;
	}

	a {
		display: inline-block;
		line-height: 1;
	}

}

// Image logo
.custom-logo {

	line-height: 1;

	img {
		display: block;
		max-width: 300px;
		width: 100%;
	}

	a:hover {
		opacity: 0.8;
	}
}

// Site Title (text logo)
.site-title {
	color: #000000;
	font-family: $font__site-title;
	font-weight: $font__weight-bold;
	line-height: 1;
	margin: 0 0 .25em;
	@include font-size(4);

	a {
		color: #000000;
		display:inline-block;
		text-decoration: none;

		&:hover {
			opacity: 0.8;
		}
	}

	@include breakpoint(tablet-l) {
		@include font-size(4);
	}

	@include breakpoint(phone-h) {
		@include font-size(3);
	}
}

// Description
.site-description {
	color: #000000;
	letter-spacing: 1px;
	line-height: 1;
}

/* STICKY HEADER
------------------------------ */
.header-wrap.stuck {
	background-color: #ffffff;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
	left: 0;
	position: fixed;
	width: 100%;
	min-height: 50px;

	.site-title {
		margin-bottom: 0;
	}

	.site-description {
		display: none;
	}

	.site-branding {
		padding: .5em 0;
	}
}

.contained .header-wrap.stuck {
	background-color: transparent;

	.inner-wrap {
		background-color: #ffffff;
	}
}
