/*
 * Top Bar
---------------------------------------------------------------- */

.topbar {
	line-height: 1.4;
	padding: .5em 0;
	position: relative;
	z-index: 101;

	.topbar-widget {

		p:last-of-type {
			margin: 0;
		}

		&.widget_nav_menu {
			display: block;
			min-width: 0;
			text-align: left;

			@include breakpoint(tablet-v) {
				@include font-size(.75);
			}
	   }
	}

	.widget-title {
		margin-bottom: .25em;
	}
}
