/* WP Customizer layout variations
--------------------------------------------- */
// Site - Contained
body.contained .site {
	max-width: $size__site-max;
	margin: 0 auto;
}

// Header - centered
body.headercentered {

	.site-branding {
		display: block;
		text-align: center;
	}

	.site-navigation {
		display: block;
		text-align: center;

		@include breakpoint(tablet-v) {
			margin-left: -5.5%;
			margin-right: -5.5%;
			text-align: left;
		}
	}

	.site-navigation > ul {
	    display: inline-block;

		@include breakpoint(tablet-v) {
			display: block;
		}
	}

	.menu-wrap {
		display: inline-block;

		@include breakpoint(tablet-v) {
			display: none;
		}
	}
}

// Menu - Alternate Style
.site-navigation.bgcolor {
	li {
		margin: 0;
	}
	a {
		padding-left: 1em;
		padding-right: 1.5em;
	}
	a:hover {
		background-color: rgba(153, 153, 153, 0.1);
		border-bottom-color: transparent;
	}
	ul:not(.sub-menu) > a:hover,
	ul:not(.sub-menu) > .current_page_ancestor > a,
	ul:not(.sub-menu) > .current-menu-ancestor > a,
	ul:not(.sub-menu) > .current_page_item > a,
	ul:not(.sub-menu) > .current-menu-item > a {
		border-bottom-color: transparent;
	}
	button.dropdown-toggle {
	    right: 1em;
	}
}
