// Site - Contained
body.contained .site {
	max-width: $size__site-max;
	margin: 0 auto;
}

// Header - centered
body.headercentered {

	.site-branding {
		display: block;
		text-align: center;

		@include breakpoint(tablet-v) {
			width: auto;
		}
	}

	.site-navigation {
		display: block;
		text-align: center;

		@include breakpoint(tablet-v) {
			text-align: left;
		}
	}

	.site-navigation > ul {
	    display: inline-block;

		@include breakpoint(tablet-v) {
			display: block;
		}
	}

	.menu-wrap {
		display: inline-block;

		@include breakpoint(tablet-v) {
			display: none;
		}
	}
}

/* // Description next to logo.
.wp-custom-logo .site-description {
	display: table-cell;
	vertical-align: middle;
}*/
