// Site - Contained
body.contained .site {
	max-width: $size__site-max;
	margin: 0 auto;
}

// Header - centered
body.headercentered {

	.site-branding {
		display: block;
		text-align: center;
	}

	.custom-logo {
		display: block;
		padding-right: 0;
	}

	.site-navigation {
		display: block;
		margin-top: 1rem;
		text-align: center;
	}

	.site-navigation > ul {
	    display: inline-block;
	}

	@include breakpoint(tablet-v) {
		
		.site-branding {
			width: auto;
		}
		.menu-wrap {
			display: none;
		}
		.site-navigation {
			text-align: left;
			margin-top: 0;
		}
		.site-navigation > ul {
			display: block;
		}
	}
}

/* // Description next to logo.
.wp-custom-logo .site-description {
	display: table-cell;
	vertical-align: middle;
}*/
