// Color
$color__base: #222222;
$color__base-medium: #808080; // aka Gray
$color__base-light: #c0c0c0; // aka Silver
$color__base-xlight: #dcdcdc; // aka Gainsboro
$color__base-xxlight: #f5f5f5; // aka = WhiteSmoke

$color__highlight: #4836da; // aka ??
$color__secondary: #9932cc; // aka DarkOrchid

// Typography
$font__main: Arial, Helvetica, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__serif: "Times New Roman", serif;

$font__weight-normal: 400;
$font__weight-bold: 700;

$font__line-height-body: 1.75;
$font__line-height-pre: 1.6;

// Structutal
$size__site-max: 80em;
$size__site-main: 100%;
$size__site-content: 66%;
$size__site-sidebar: 26%;
$size__site-padding: 4%;
