/**
 * Customizer CSS
 */

/* left-align the radio buttons to be next to each other */
#sub-accordion-section-osixthreeo_ch_height .customize-control-radio .customize-inside-control-row,
#sub-accordion-section-osixthreeo_site_layout .customize-control-radio .customize-inside-control-row {
	float:left;
	margin-right:12px
}

/* extra space for the 2 header layout PNGs */
#customize-control-osixthreeo_settings-header_layout label {
	margin-right: .5em;
}

/* Header Media section ( Background Image/Video ) */
#customize-control-external_header_video {
	border-bottom: 1px dashed #bbbbbb;
	margin-bottom: 24px;
	padding-bottom: 24px;
}

/* META DATA Checkboxes */
#customize-control-osixthreeo_settings-meta_date,
#customize-control-osixthreeo_settings-meta_author,
#customize-control-osixthreeo_settings-meta_comments {
	margin-bottom: 0;
}
#customize-control-osixthreeo_settings-meta_author,
#customize-control-osixthreeo_settings-meta_comments,
#customize-control-osixthreeo_settings-meta_updated {
	padding-top: 0;
}


/* SECTIONS
----------------------------------------------- */
.customize-control-radio,
.customize-control-select,
.customize-control-checkbox,
.customize-control-textarea,
.customize-control-range,
.customize-control-color,
.customize-control-number,
.customize-control-alpha-color {
	padding: 12px 12px 0;
	background-color: #f3f3f3;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin: 0;
	box-sizing: border-box;
}
.customize-control-radio .customize-control-title,
.customize-control-select .customize-control-title,
.customize-control-textarea .customize-control-title,
.customize-control-range .customize-control-title,
.customize-control-color .customize-control-title,
.customize-control-number .customize-control-title,
.customize-control-alpha-color .customize-control-title {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.25;
}

.customize-control-number input {
	font-weight: 600;
	font-size: 12px;
	line-height: 1;
	padding: 0 0 0 6px;
	-moz-appearance: textfield;
}

/* TOPs
----------------------------------------------- */
#customize-control-osixthreeo_settings-containment_setting,
#customize-control-osixthreeo_settings-content_bgcolor,
#customize-control-osixthreeo_settings-footer_background_color,
#customize-control-osixthreeo_settings-header_background_color,
#customize-control-osixthreeo_settings-header_layout,
#customize-control-osixthreeo_settings-home_layout_setting,
#customize-control-osixthreeo_settings-sitetitle_font,
#customize-control-osixthreeo_settings-sitedescription_font,
#customize-control-osixthreeo_settings-menu_font,
#customize-control-osixthreeo_settings-base_font,
#customize-control-osixthreeo_settings-header_font,
#customize-control-osixthreeo_settings-hero_text_primary,
#customize-control-osixthreeo_settings-hero_text_secondary,
#customize-control-osixthreeo_settings-home_header_fullheight,
#customize-control-osixthreeo_settings-subpage_header_height,
#customize-control-themeops-metaheader-message,
#customize-control-osixthreeo_settings-meta_font,
#customize-control-osixthreeo_settings-subnav_bg_color,
#customize-control-osixthreeo_settings-header_bg_color_left,
#customize-control-osixthreeo_settings-hero_scroll_button,
#customize-control-osixthreeo_settings-header_bg_size,
#customize-control-osixthreeo_settings-archives_background_color,
#customize-control-osixthreeo_settings-archives_hide_featuredimage,
#customize-control-osixthreeo_settings-archives_border_color,
#customize-control-osixthreeo_settings-archives_box_shadow_color {
	border-top: 1px solid #ccc;
}

/* BOTTOMs
----------------------------------------------- */
#customize-control-osixthreeo_settings-max_width,
#customize-control-osixthreeo_settings-subnav_border_color,
#customize-control-osixthreeo_settings-meta_color,
#customize-control-osixthreeo_settings-footer_link_color_hover,
#customize-control-osixthreeo_settings-search_layout_setting,
#customize-control-osixthreeo_settings-sitetitle_font_weight,
#customize-control-osixthreeo_settings-sitedescription_font_weight,
#customize-control-osixthreeo_settings-menu_font_weight,
#customize-control-osixthreeo_settings-subpage_mobile_header_height,
#customize-control-osixthreeo_settings-home_mobile_header_height,
#customize-control-osixthreeo_settings-meta_footer,
#customize-control-osixthreeo_settings-base_font_size,
#customize-control-osixthreeo_settings-header_font_weight,
#customize-control-osixthreeo_settings-meta_font_weight,
#customize-control-osixthreeo_settings-nav_link_color,
#customize-control-osixthreeo_settings-header_right_stop,
#customize-control-osixthreeo_settings-hero_scroll_button_alignment,
#customize-control-osixthreeo_settings-header_bg_repeat,
#customize-control-osixthreeo_settings-hero_text_primary_shadow_x,
#customize-control-osixthreeo_settings-hero_text_primary_shadow_y,
#customize-control-osixthreeo_settings-hero_text_primary_shadow_blur,
#customize-control-osixthreeo_settings-hero_text_secondary_shadow_x,
#customize-control-osixthreeo_settings-hero_text_secondary_shadow_y,
#customize-control-osixthreeo_settings-hero_text_secondary_shadow_blur,
#customize-control-osixthreeo_settings-content_title_color,
#customize-control-osixthreeo_settings-archives_box_shadow_x,
#customize-control-osixthreeo_settings-archives_box_shadow_y,
#customize-control-osixthreeo_settings-archives_box_shadow_blur,
#customize-control-osixthreeo_settings-archives_box_shadow_spread,
#customize-control-osixthreeo_settings-archives_meta_color,
#customize-control-osixthreeo_settings-archives_min_height,
#customize-control-osixthreeo_settings-archives_border_width,
#customize-control-osixthreeo_settings-archives_border_radius,
#customize-control-osixthreeo_settings-archives_hide_readmore {
	border-bottom: 1px solid #ccc;
	padding-bottom: 12px;
	margin-bottom: 24px;
}

/* TOP & BOTTOM - Single controls
-------------------------------------------------*/
#customize-control-osixthreeo_settings-header_layout,
#customize-control-osixthreeo_settings-header_padding,
#customize-control-osixthreeo_settings-highlite_font,
#customize-control-background_color,
#customize-control-osixthreeo_settings-nav_search,
#customize-control-osixthreeo_settings-content_title_lift,
#customize-control-osixthreeo_settings-parallax_header,
#customize-control-osixthreeo_settings-archives_pad_left,
#customize-control-osixthreeo_settings-archives_pad_right,
#customize-control-osixthreeo_settings-archives_pad_top,
#customize-control-osixthreeo_settings-back_to_top,
#customize-control-osixthreeo_settings-footer_columns,
#customize-control-osixthreeo_settings-archives_pad_bottom {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-bottom: 12px;
	margin-bottom: 24px;
}
#customize-control-osixthreeo_settings-base_font .customize-control-title,
#customize-control-osixthreeo_settings-header_font .customize-control-title,
#customize-control-osixthreeo_settings-highlite_font .customize-control-title {
	font-weight: bold;
}

#customize-control-osixthreeo_settings-base_font_size,
#customize-control-osixthreeo_settings-header_font_weight,
#customize-control-osixthreeo_settings-highlite_font {
	margin-bottom: 12px;
}

#customize-control-osixthreeo_settings-archives_min_height {
	padding-top: 24px;
}

/* FLOATING */
#customize-control-osixthreeo_settings-hero_text_primary_shadow_x,
#customize-control-osixthreeo_settings-hero_text_primary_shadow_y,
#customize-control-osixthreeo_settings-hero_text_primary_shadow_blur,
#customize-control-osixthreeo_settings-hero_text_secondary_shadow_x,
#customize-control-osixthreeo_settings-hero_text_secondary_shadow_y,
#customize-control-osixthreeo_settings-hero_text_secondary_shadow_blur {
	display: inline;
	width: 33.3333%;
}
#customize-control-osixthreeo_settings-archives_box_shadow_x,
#customize-control-osixthreeo_settings-archives_box_shadow_y,
#customize-control-osixthreeo_settings-archives_box_shadow_blur,
#customize-control-osixthreeo_settings-archives_box_shadow_spread,
#customize-control-osixthreeo_settings-archives_border_width,
#customize-control-osixthreeo_settings-archives_pad_left,
#customize-control-osixthreeo_settings-archives_pad_right,
#customize-control-osixthreeo_settings-archives_pad_top,
#customize-control-osixthreeo_settings-archives_pad_bottom {
	display: inline;
	width: 25%;
}
#customize-control-osixthreeo_settings-archives_border_radius {
	display: inline-block;
	width: 75%;
}
#customize-control-osixthreeo_settings-archives_border_radius input {
	width: 33%;
}

#customize-control-osixthreeo_settings-hero_text_primary_shadow_y,
#customize-control-osixthreeo_settings-hero_text_primary_shadow_blur,
#customize-control-osixthreeo_settings-hero_text_secondary_shadow_y,
#customize-control-osixthreeo_settings-hero_text_secondary_shadow_blur,
#customize-control-osixthreeo_settings-archives_pad_right,
#customize-control-osixthreeo_settings-archives_pad_top,
#customize-control-osixthreeo_settings-archives_box_shadow_y,
#customize-control-osixthreeo_settings-archives_box_shadow_blur,
#customize-control-osixthreeo_settings-archives_box_shadow_spread,
#customize-control-osixthreeo_settings-archives_border_radius {
	border-left: 0;
	clear: none;
	padding-left: 6px;
}
#customize-control-osixthreeo_settings-archives_pad_bottom {
	border-left: 0;
	clear: none;
	padding-left: 0;
}
#customize-control-osixthreeo_settings-hero_text_primary_shadow_x,
#customize-control-osixthreeo_settings-hero_text_primary_shadow_y,
#customize-control-osixthreeo_settings-hero_text_secondary_shadow_x,
#customize-control-osixthreeo_settings-hero_text_secondary_shadow_y,
#customize-control-osixthreeo_settings-archives_pad_right,
#customize-control-osixthreeo_settings-archives_pad_top,
#customize-control-osixthreeo_settings-archives_box_shadow_x,
#customize-control-osixthreeo_settings-archives_box_shadow_y,
#customize-control-osixthreeo_settings-archives_box_shadow_blur,
#customize-control-osixthreeo_settings-archives_border_width {
	border-right: 0;
	padding-right: 6px;
}
#customize-control-osixthreeo_settings-archives_pad_left {
	border-right: 0;
	padding-right: 0;
}

/* LABELS
------------------------------------------------ */
#customize-control-layout-sitewidth-message,
#customize-control-layout-header-message,
#customize-control-layout-sidebars-message,
#customize-control-colors-footer-message,
#customize-control-colors-archives-message,
#customize-control-colors-content-message,
#customize-control-colors-subnav-message,
#customize-control-colors-logomenu-message,
#customize-control-typography-message,
#customize-control-title-message,
#customize-control-description-message,
#customize-control-menu-message,
#customize-control-typography-meta-message,
#customize-control-primary-text-message,
#customize-control-secondary-text-message,
#customize-control-scroll-button-message,
#customize-control-ch-h-padding-message,
#customize-control-height-subpage-message,
#customize-control-height-homepage-message,
#customize-control-to-h-appendsearch-message,
#customize-control-to-c-layout-message,
#customize-control-to-a-elements-message,
#customize-control-to-a-padding-message,
#customize-control-to-a-border-message,
#customize-control-to-a-shadow-message,
#customize-control-to-f-backtotop-message,
#customize-control-to-f-columns-message {
	margin: 0;
	text-transform: uppercase;
}


/* INNER HEADING
------------------------------------------------- */
#customize-control-themeops-metaheader-message,
#customize-control-themeops-metafooter-message,
#customize-control-h-ot-primary-shadow-message,
#customize-control-h-ot-secondary-shadow-message,
#customize-control-themeops-metafooter-message {
	background-color: #f3f3f3;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	box-sizing: border-box;
	font-weight: bold;
	margin: 0;
	padding: 18px 12px 0;
	position: relative;
}
#customize-control-themeops-metaheader-message.customize-control-text,
#customize-control-themeops-metafooter-message.customize-control-text,
#customize-control-h-ot-primary-shadow-message.customize-control-text,
#customize-control-h-ot-primary-shadow-message.customize-control-text,
#sub-accordion-section-osixthreeo_to_content #customize-control-to-a-p-ing-message.customize-control-text,
#sub-accordion-section-osixthreeo_to_content #customize-control-to-a-shadow-message.customize-control-text,
#sub-accordion-section-osixthreeo_to_content #customize-control-to-a-border-message.customize-control-text,
#sub-accordion-section-osixthreeo_to_content #customize-control-themeops-metafooter-message.customize-control-text {
	margin-top: 0;
}

#customize-control-themeops-metaheader-message:after,
#customize-control-themeops-metafooter-message:after,
#customize-control-h-ot-primary-shadow-message:after,
#customize-control-h-ot-secondary-shadow-message:after,
#customize-control-to-a-padding-message:after,
#customize-control-to-a-shadow-message:after,
#customize-control-to-a-border-message:after {
	bottom: 0;
	border-bottom: 1px dashed #aaa;
	content: '';
	left: 5%;
	padding-bottom: 12px;
	position: absolute;
	width: 90%;
}


/* PRO CALLOUTS
------------------------------------------------- */
#customize-control-layout-pro-callout,
#customize-control-colors-pro-callout,
#customize-control-typography-pro-callout,
#customize-control-themeops-pro-callout,
#customize-control-themeops-a-pro-callout {
	background-color: #f3f3f3;
	border: 1px solid #ccc;
}
#sub-accordion-section-osixthreeo_site_layout #customize-control-layout-pro-callout .customize-control-title,
#sub-accordion-section-colors #customize-control-colors-pro-callout .customize-control-title,
#sub-accordion-section-osixthreeo_typography #customize-control-typography-pro-callout .customize-control-title,
#sub-accordion-section-osixthreeo_to_content #customize-control-themeops-pro-callout .customize-control-title,
#sub-accordion-section-osixthreeo_to_archives #customize-control-themeops-a-pro-callout .customize-control-title {
	background: url("../images/o.png") no-repeat 12px 13px;
	font-size: 14px;
	line-height: 1.4;
	padding: 12px 12px 12px 36px;
	text-transform: none;
}
#customize-controls .probtn {
	padding: 12px;
	background: linear-gradient(135deg, #4169e1 0%, #ba55d3 100%);
	border-radius: 6px;
	color: #fff;
	font-weight: bold;
	margin: 0 0 14px 36px;
	text-decoration: none;
	display: inline-block;
}
#customize-controls .probtn:hover {
	background: linear-gradient(135deg, #ba55d3 0%, #4169e1 100%);
}
