/**
 * Radio WP_Customize_Manager CSS
 */
#kelso-img-container label {
	background: none;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-size: inherit;
	height: auto;
	line-height: inherit;
	max-width: 25%;
	padding: 3px;
	position: relative;
	vertical-align: inherit;
	-webkit-appearance: none;
	white-space: nowrap;
}
#customize-control-kelso_settings-header_layout .controls label,
#customize-control-kelso_settings-content_title_placement .controls label {
	max-width: 33%;
}

#kelso-img-container input {
	position: absolute;
	bottom: 0;
	visibility: hidden;
}

#kelso-img-container .kelso-radio-img-img {
	border: 1px solid #666;
}

#kelso-img-container .kelso-radio-img-img:hover {
	border: 1px solid #007dad;
}

#kelso-img-container .kelso-radio-img-selected {
	border-color: #00b6ff;
	-webkit-box-shadow: 0 0 1px #3ec8ff;
	box-shadow: 0 0 6px #3ec8fe;
}
