/**
 * Main Customizer css
 */
#sub-accordion-section-osixthreeo_ch_height .customize-control-radio .customize-inside-control-row,
#sub-accordion-section-osixthreeo_site_layout .customize-control-radio .customize-inside-control-row {
  float: left;
  margin-right: 12px;
}

#sub-accordion-section-header_image .description.customize-section-description {
  display: none;
}

/* Header Medis section ( Background Image/Video ) */
#customize-control-external_header_video,
#customize-control-osixthreeo_settings-highlite_font,
#customize-control-osixthreeo_settings-hero_text_primary_color,
#customize-control-osixthreeo_settings-hero_text_secondary_color,
#customize-control-osixthreeo_settings-home_mobile_header_height,
#customize-control-osixthreeo_settings-header_bg_color_right {
  border-bottom: 1px dashed #bbbbbb;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

/* Checkboxes */
#customize-control-osixthreeo_settings-meta_date,
#customize-control-osixthreeo_settings-meta_author,
#customize-control-osixthreeo_settings-meta_comments,
#customize-control-osixthreeo_settings-meta_updated {
  margin-bottom: 0;
}

/* SECTIONS ----------------------------------------------- */
/* Section Headings -------------------- */
#customize-control-title-message,
#customize-control-description-message,
#customize-control-menu-message,
#customize-control-content-message,
#customize-control-footer-message,
#customize-control-content-colors-message,
#customize-control-footer-color-message,
#customize-control-header-colors-message,
#customize-control-layout-global-message,
#customize-control-layout-header-message,
#customize-control-layout-sidebars-message {
  margin: 24px 0 0 0;
}

/* Section Heading Labels -------------------- */
#customize-control-title-message .customize-control-title,
#customize-control-description-message .customize-control-title,
#customize-control-menu-message .customize-control-title,
#customize-control-content-message .customize-control-title,
#customize-control-footer-message .customize-control-title,
#customize-control-content-colors-message .customize-control-title,
#customize-control-footer-color-message .customize-control-title,
#customize-control-header-colors-message .customize-control-title,
#customize-control-layout-global-message .customize-control-title,
#customize-control-layout-header-message .customize-control-title,
#customize-control-layout-sidebars-message .customize-control-title {
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Section Control Blocks -------------------- */
#customize-control-header_textcolor,
#customize-control-subnav-message,
#customize-control-osixthreeo_settings-header_background_color,
#customize-control-osixthreeo_settings-nav_link_color,
#customize-control-osixthreeo_settings-subnav_bg_color,
#customize-control-osixthreeo_settings-subnav_hover_bg_color,
#customize-control-osixthreeo_settings-subnav_text_color,
#customize-control-osixthreeo_settings-subnav_hover_text_color,
#customize-control-osixthreeo_settings-subnav_border_color,
#customize-control-osixthreeo_settings-content_bgcolor,
#customize-control-osixthreeo_settings-text_color,
#customize-control-osixthreeo_settings-link_color,
#customize-control-osixthreeo_settings-link_color_hover,
#customize-control-osixthreeo_settings-footer_background_color,
#customize-control-osixthreeo_settings-footer_text_color,
#customize-control-osixthreeo_settings-footer_link_color,
#customize-control-osixthreeo_settings-footer_link_color_hover,
#customize-control-osixthreeo_settings-sitetitle_font,
#customize-control-osixthreeo_settings-sitetitle_font_size,
#customize-control-osixthreeo_settings-sitetitle_font_weight,
#customize-control-osixthreeo_settings-sitedescription_font,
#customize-control-osixthreeo_settings-sitedescription_font_size,
#customize-control-osixthreeo_settings-sitedescription_font_weight,
#customize-control-osixthreeo_settings-containment_setting,
#customize-control-osixthreeo_settings-header_layout,
#customize-control-osixthreeo_settings-header_padding,
#customize-control-osixthreeo_settings-home_layout_setting,
#customize-control-osixthreeo_settings-page_layout_setting,
#customize-control-osixthreeo_settings-single_layout_setting,
#customize-control-osixthreeo_settings-archive_layout_setting,
#customize-control-osixthreeo_settings-search_layout_setting,
#customize-control-osixthreeo_settings-menu_font,
#customize-control-osixthreeo_settings-menu_font_size,
#customize-control-osixthreeo_settings-menu_font_weight,
#customize-control-osixthreeo_settings-base_font_size,
#customize-control-osixthreeo_settings-header_font_weight {
  padding: 12px;
  background-color: #f3f3f3;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0;
  box-sizing: border-box;
}

/* TOP Control Blocks */
#customize-control-osixthreeo_settings-content_bgcolor,
#customize-control-osixthreeo_settings-footer_background_color,
#customize-control-osixthreeo_settings-header_background_color,
#customize-control-osixthreeo_settings-header_layout,
#customize-control-osixthreeo_settings-home_layout_setting,
#customize-control-osixthreeo_settings-sitetitle_font,
#customize-control-osixthreeo_settings-sitedescription_font,
#customize-control-osixthreeo_settings-menu_font,
#customize-control-osixthreeo_settings-base_font_size {
  border-top: 1px solid #ccc;
}

/* BOTTOM Control Blocks */
#customize-control-osixthreeo_settings-subnav_border_color,
#customize-control-osixthreeo_settings-link_color_hover,
#customize-control-osixthreeo_settings-footer_link_color_hover,
#customize-control-osixthreeo_settings-header_padding,
#customize-control-osixthreeo_settings-search_layout_setting,
#customize-control-osixthreeo_settings-sitetitle_font_weight,
#customize-control-osixthreeo_settings-sitedescription_font_weight,
#customize-control-osixthreeo_settings-menu_font_weight,
#customize-control-osixthreeo_settings-header_font_weight {
  border-bottom: 1px solid #ccc;
}

/* Single control */
#customize-control-osixthreeo_settings-containment_setting {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* LABELS */
#customize-control-header_textcolor .customize-control-title,
#customize-control-osixthreeo_settings-header_background_color .customize-control-title,
#customize-control-osixthreeo_settings-nav_link_color .customize-control-title,
#customize-control-osixthreeo_settings-subnav_bg_color .customize-control-title,
#customize-control-osixthreeo_settings-subnav_hover_bg_color .customize-control-title,
#customize-control-osixthreeo_settings-subnav_text_color .customize-control-title,
#customize-control-osixthreeo_settings-subnav_hover_text_color .customize-control-title,
#customize-control-osixthreeo_settings-subnav_border_color .customize-control-title,
#customize-control-osixthreeo_settings-content_bgcolor .customize-control-title,
#customize-control-osixthreeo_settings-text_color .customize-control-title,
#customize-control-osixthreeo_settings-link_color .customize-control-title,
#customize-control-osixthreeo_settings-link_color_hover .customize-control-title,
#customize-control-osixthreeo_settings-footer_background_color .customize-control-title,
#customize-control-osixthreeo_settings-footer_text_color .customize-control-title,
#customize-control-osixthreeo_settings-footer_link_color .customize-control-title,
#customize-control-osixthreeo_settings-footer_link_color_hover .customize-control-title,
#customize-control-osixthreeo_settings-sitetitle_font .customize-control-title,
#customize-control-osixthreeo_settings-sitetitle_font_size .customize-control-title,
#customize-control-osixthreeo_settings-sitetitle_font_weight .customize-control-title,
#customize-control-osixthreeo_settings-sitedescription_font .customize-control-title,
#customize-control-osixthreeo_settings-sitedescription_font_size .customize-control-title,
#customize-control-osixthreeo_settings-sitedescription_font_weight .customize-control-title,
#customize-control-osixthreeo_settings-containment_setting .customize-control-title,
#customize-control-osixthreeo_settings-header_layout .customize-control-title,
#customize-control-osixthreeo_settings-header_padding .customize-control-title,
#customize-control-osixthreeo_settings-home_layout_setting .customize-control-title,
#customize-control-osixthreeo_settings-page_layout_setting .customize-control-title,
#customize-control-osixthreeo_settings-single_layout_setting .customize-control-title,
#customize-control-osixthreeo_settings-archive_layout_setting .customize-control-title,
#customize-control-osixthreeo_settings-search_layout_setting .customize-control-title,
#customize-control-osixthreeo_settings-menu_font .customize-control-title,
#customize-control-osixthreeo_settings-menu_font_size .customize-control-title,
#customize-control-osixthreeo_settings-menu_font_weight .customize-control-title,
#customize-control-osixthreeo_settings-base_font_size .customize-control-title,
#customize-control-osixthreeo_settings-header_font_weight .customize-control-title,
#customize-control-osixthreeo_settings-hero_text_primary_font_size .customize-control-title,
#customize-control-osixthreeo_settings-hero_text_secondary_font_size .customize-control-title {
  font-weight: 400;
  font-size: 12px;
}

/* INNER HEADING */
#customize-control-subnav-message .customize-control-title {
  border-top: 1px dashed #bbb;
  border-bottom: 1px dashed #bbb;
  padding: 12px 0 10px;
  line-height: 1;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 8px;
}
