/*
 * Containers
--------------------------------------------- */

.site-content {
	clear: both;

	.widget-area {
		display: inline-block;
		overflow: hidden;
		width: $size__site-sidebar;
	}
}

.content-area {
	width: $size__site-main;
}

.site-main {
	width: $size__site-main;
}

.content-wrap,
.inner-wrap {
	max-width: $size__site-max;
	margin: 0 auto;
	padding: 0 40px;
	width: $size__site-main;

	@include breakpoint(tablet-h) {
 		padding: 0 5%;
	}
}
.inner-wrap {
	position: relative;
}
.content-wrap {
	background-color: #f5f5f5;
	padding-top: 3em;
	padding-bottom: 1.5em;
}

.contained {
	max-width: $size__site-max;
	margin: 0 auto;
}

.nosidebar-silo .content-wrap {
	padding-left: 15%;
	padding-right: 15%;

	@include breakpoint(tablet-h) {
		padding-left: 8%;
		padding-right: 8%;
	}
	@include breakpoint(phone-h) {
		padding-left: 5%;
		padding-right: 5%;
	}
}


// Sidebar Content ------------------------------
.sidebar-left {

	.content-area {
		float: right;
		width: $size__site-content;
	}

	.site-main {
		//border-left: 1px solid $color__base-xlight;
		margin-bottom: 3em;
		padding-left: 5%;
	}

	.site-content .widget-area {
		float: left;
		margin-bottom: 1.5em;
	}

	.sidebar-widget {
		padding-right: 5%;

		@include breakpoint(tablet-v) {
			padding-right: 0;
		}
	}
}

// Content Sidebar ------------------------------
.sidebar-right {

	.content-area {
		float: left;
		width: $size__site-content;
	}
	.site-main {
		padding-right: 5%;
		margin-bottom: 3em;
	}

	.site-content .widget-area {
		float: right;
	}

	.sidebar-widget {
		padding-left: 5%;

		@include breakpoint(tablet-v) {
			padding-left: 0;
		}
	}
}


// Stack 'em up for Vertical iPads and smaller
@include breakpoint(tablet-v) {
	.content-area,
	.site-main,
	.site-content .widget-area,
	.sidebar-right .content-area,
	.sidebar-right .site-main,
	.sidebar-right .site-content .widget-area,
	.sidebar-left .content-area,
	.sidebar-left .site-main,
	.sidebar-left .site-content .widget-area {
		display: block;
		float: none;
		width: $size__site-main;
		padding-left: 0;
		padding-right: 0;
		border: none;
	}
}
