/* Gutenberg
 --------------------------------------------- */

/*
 * Wide & Full width images
 ---------------------------------- */

.alignwide {
	margin-left: -40px;
	margin-right: -40px;
	width: auto;
	max-width: 1000%;

	@include breakpoint(desktop-s) {
		margin-left: -4%;
		margin-right: -4%;
	}
	@include breakpoint(phone-h) {
		margin-left: -5%;
		margin-right: -5%;
	}
}

.alignfull {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	width: auto;
	max-width: 1000%;
}
.alignwide img,
.alignfull img {
	display: block;
	width: 100%;
}

.wp-block-image {
	margin-bottom: 1.4em;

	figcaption {
	    margin-top: .5em;
	    color: $color__base-medium;
	    @include font-size(1.4);
	}

	&.aligncenter {
		text-align: center;

		figcaption {
		    text-align: center;
		}
	}

	&.alignleft.is-resized {
		margin: 0 1.75em 1.5em 0;
	}
	&.alignright.is-resized {
		margin: 0 0 1.5em 1.75em;
	}
}

.sidebar-right .wp-block-image.alignfull,
.sidebar-left .wp-block-image.alignfull {
	margin-left: calc(20% - 20vw);
	margin-right: calc(80% - 80vw);
}

.wp-block-cover-image {

	&.alignleft {
		margin-right: 1em;
	}
	&.alignright {
		margin-left: 1em;
	}
	&.aligncenter {
		clear: both;

		.wp-block-cover-image-text {
			margin-left: auto;
			margin-right: auto;
		}
	}

}

/*
 * Blockquotes
 ---------------------------------- */
.wp-block-pullquote {

	&:before {
		display: none;
	}

	&.alignwide,
	&.alignfull {
		border: none;
		padding-left: 40px;
		padding-right: 40px;
	}

	&.alignleft,
	&.alignright {
		padding-left: 24px;
		padding-right: 24px;
	}
	&.alignright {
		margin: 0 0 1.5em 1.5em;
	}
}

.wp-block-quote.is-large {
 	margin: 0 0 1.5em;
 	padding: 1.5em 1.875em 1.5em 3.5em;
}

/*
 * Gallery
 ---------------------------------- */

.entry-content ul.wp-block-gallery {
	margin: 0;

	&.alignwide {
		margin-left: -4%;
		margin-right: -4%;
		width: auto;
		max-width: 1000%;
	}
	&.alignfull {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		width: auto;
		max-width: 1000%;
	}
}


.wp-block-separator {
	clear:both;
	display: block;
}

/*
 * Videos
 ---------------------------------- */
.wp-block-embed {

	iframe {
		width: 100%;
	}
}

.wp-block-button {

	.wp-block-button__link {
	    border: none;
	    border-radius: 6px;
	    box-shadow: none;
	    cursor: pointer;
	    display: inline-block;
		font-family: $font__headers;
		font-weight: $font__weight-semibold;
		padding: .75em 1em;
		position: relative;
		white-space: normal;
		width: auto;
		z-index: 1;

		&:after {
			background-color: rgba(153,153,153,0.2);
			border-radius: 6px;
			content: '';
			position: absolute;
			z-index: -1;
			height: 0;
			width: 100%;
			bottom: 0;
			left: 0;
			opacity: 0;
			transition: all 0.2s ease-in-out;
		}

		&:hover {
			color: #fff;
		}
		&:hover:after {
			height: 100%;
			opacity: 1;
		}
	}

	&.alignleft {
		margin-right: 1.5em;
	}
	&.alignright {
		margin-left: 1.5em;
	}
}

.wp-block-columns {

	&.has-6-columns,
	&.has-5-columns,
	&.has-4-columns,
	&.has-3-columns,
	&.has-2-columns {

		.wp-block-column {
			padding-right: 1.5em;

			&:last-of-type {
				padding-right: 0;
			}
		}
	}
}
