/*
 * Block image
 ---------------------------------- */
 .wp-block-image {
	margin-bottom: 1.4em;

	img {
		display: block;
	}

	figcaption {
	    color: $color__base-medium;
		line-height: 1.4;
	}

	&.aligncenter {
		text-align: center;

		figcaption {
		    text-align: center;
		}
	}

	&.alignleft.is-resized {
		margin: 0 1.75em 1.5em 0;
	}
	&.alignright.is-resized {
		margin: 0 0 1.5em 1.75em;
	}
}

/*
 * Cover image
 ---------------------------------- */
.wp-block-cover.alignright {
	margin: 0 0 24px 24px;
}
.wp-block-cover.alignleft {
	margin: 0 24px 24px 0;
}
.wp-block-cover.aligncenter {
	clear: both;
}

.wp-block-cover-image {

	&.alignleft {
		margin-right: 1em;
	}
	&.alignright {
		margin-left: 1em;
	}
	&.aligncenter {
		clear: both;

		.wp-block-cover-image-text {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

/*
 * Columns
 ---------------------------------- */
.wp-block-columns {

	&.has-6-columns,
	&.has-5-columns,
	&.has-4-columns,
	&.has-3-columns,
	&.has-2-columns {

		.wp-block-column:last-of-type {
			margin-right: 0;
		}
	}

	.wp-block-image {
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		border-radius: 8px 8px 0 0;
		overflow: hidden;

		img {
			width: 100%;
			object-fit: cover;
		}
	}

	.wp-block-column {
		overflow: hidden;
		
		@include breakpoint(tablet-v) {
			margin-bottom: 2em;
		}
	}

	&.boxed {
		position: relative;
		z-index: 2;

		.wp-block-column {
			background-color: #ffffff;
			padding: 1.5em 1.5em 1em;
		}

		&.bdr .wp-block-column {
			border: 1px solid rgba(153,153,153,0.25);
		}
		&.shade .wp-block-column {
			box-shadow: 0px 0px 10px 0px rgba(153,153,153,0.25);
		}
		&.rad4 .wp-block-column {
			border-radius: 4px;
		}
		&.rad8 .wp-block-column {
			border-radius: 8px;
		}

		&.no-pad .wp-block-column {
			padding: 0;

			p,
			.wp-block-button {
				padding-left: 1.5em;
				padding-right: 1.5em;
			}
		}

		&.up50 {margin-top: -50px;}
		&.up75 {margin-top: -75px;}
		&.up100 {margin-top: -100px;}
		&.up125 {margin-top: -125px;}
		&.up150 {margin-top: -150px;}
		&.up160 {margin-top: -160px;}
		&.up175 {margin-top: -175px;}
		&.up200 {margin-top: -200px;}
		@include breakpoint(phone-h) {
			&.up50 {margin-top: -25px;}
			&.up75 {margin-top: -37px;}
			&.up100 {margin-top: -50px;}
			&.up125 {margin-top: -62px;}
			&.up150 {margin-top: -75px;}
			&.up160 {margin-top: -80px;}
			&.up175 {margin-top: -87px;}
			&.up200 {margin-top: -100px;}
		}
	}
}

// Transition to 2 columns for all rows
@media (max-width: 780px) and (min-width: 600px) {
	.wp-block-column {
    	flex-basis: 47%;
	}
}

// Spacer block
.wp-block-spacer {
	clear: both;
}

// Big font sizes
.has-huge-font-size,
.has-large-font-size,
.has-medium-font-size {
	line-height: 1.2;
}
