/*
 * Utility
--------------------------------------------- */

@media only screen and (min-width:1024px) {
	.mobile-only {
		display: none;
	}
}

@include breakpoint(tablet-h) {
	.desktop-only {
		display: none;
	}
}

.pad {
	padding: 1em;
}

.ta-center {
	text-align: center;
}
.ta-right {
	text-align: right;
}

.intro {
	margin-bottom: 1.25em;
	font-size: 150%;
}

img.flex {
	width: 100%;
}

.bg-base {
	background-color:$color__base;
}
.bg-base-medium {
	background-color:$color__base-medium;
}
.bg-base-light {
	background-color:$color__base-light;
}
.bg-base-xlight {
	background-color:$color__base-xlight;
}
.bg-base-xxlight {
	background-color:$color__base-xxlight;
}
.bg-darklight {
	background-color:$color__darklight;
}
.text-highlight {
	color:$color__highlight;
}
.bg-highlight {
	background-color:$color__highlight;
}
.bb-highlight {
	border-bottom: 2px solid $color__highlight;
}
.text-secondary {
	color:$color__secondary;
}
.bg-secondary {
	background-color:$color__secondary;
}
.bb-secondary {
	border-bottom: 2px solid $color__secondary;
}
.bg-white {
	background-color: #ffffff;
}
.text-white {
	color: #ffffff;
}
.bg-black {
	background-color: #000000;
}
.text-black {
	color: #000000;
}
