@media only screen and (min-width:1024px) {
	.mobile-only {
		display: none;
	}
}

@include breakpoint(tablet-h) {
	.desktop-only {
		display: none;
	}
}

.pad {
	padding: 1em;
}

.ta-center {
	text-align: center;
}
.ta-right {
	text-align: right;
}

.intro {
	margin-bottom: 1.25em;
	font-size: 150%;
}

img.flex {
	width: 100%;
}
