input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: $color__highlight;
	color: #ffffff;
	border: 0;
	border-radius: 6px;
	cursor: pointer;
	line-height: normal;
	padding: .625em 1em;
	position: relative;
	white-space: normal;
	z-index: 1;

	&:hover {
		color: #ffffff;
		background-color: $color__secondary;
	}
}

.btn,
.wp-block-button__link {
	background-color: $color__highlight;
	border-radius: 6px;
	color:  #ffffff;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	padding: .625em 1em;
	position: relative;
	white-space: normal;
	width: auto;
	z-index: 1;

	&:hover {
		color: #ffffff;
	}

	&:focus,
	&:active {
		outline: 0;
		color: #ffffff;
		border-color: transparent;
	}

	&:after {
		background-color: rgba(0,0,0,0.2);
		border-radius: 6px;
		content: '';
		position: absolute;
		z-index: -1;
		height: 0;
		width: 100%;
		bottom: 0;
		left: 0;
		opacity: 0;
		transition: all 0.15s ease-in-out;
	}

	&:hover:after {
		height: 100%;
		opacity: 1;
	}

	&.wide {
		width: 100%;
		text-align: center;
	}

	&.alignleft {
		margin-right: 1.5em;
	}
	&.alignright {
		margin-left: 1.5em;
	}

}

.is-style-outline {
	color: #fff;
}

.btn.alt,
.is-style-outline .wp-block-button__link,
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link {
	padding-right: 52px;

	&:before {
		border-style: solid;
		border-width: 2px 2px 0 0;
		border-color: currentColor;
		content: ' ';
		font-weight: 900;
		height: 13px;
		width: 13px;
		position: absolute;
		right: 16px;
		top: calc(50% - 6px);
		transform: rotate(45deg);
		transition: all 0.2s ease-in-out;
	}
	&:after {
		border-radius: 6px 6px 0 0;
		height: 100%;
		width: 38px;
		left: auto;
		top: 0;
		right: 0;
		opacity: 1;
	}
	&:hover:before {
		border-width: 0 0 2px 2px;
		transform: rotate(-135deg);
	}
	&:hover:after {
		width: 100%;
	}
}

button {
	&:focus {
		outline: thin dotted;
	}
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		padding: 1.25em 1em 1em;
	}
}
