/* Form Fields
--------------------------------------------- */

input,
textarea {
	background-color: #ffffff;
	border: 1px solid $color__base-xlight;
	padding: .5em;
	width: 100%;

	&:focus {
		border: 1px solid $color__base-light;
		outline: none;
	}
}

select {
	border: 1px solid $color__base-light;
}

.post-password-form {

	input[type="password"] {
		width: auto;
		margin-bottom: 1em;
	}
}

::-moz-placeholder {
	color: $color__base-light;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: $color__base-light;
}
