/* Form Fields
--------------------------------------------- */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	background-color: #ffffff;
	border: 1px solid $color__base-xlight;
	padding: .5em;
	width: 100%;
	-webkit-appearance: none;

	&:focus {
		border: 1px solid $color__base-light;
		outline: none;
	}
}

select {
	border: 1px solid $color__base-light;
}

.post-password-form {

	input[type="password"] {
		width: auto;
		margin-bottom: 1em;
	}
}

::-moz-placeholder {
	color: $color__base-light;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: $color__base-light;
}
