/* Search Form
--------------------------------------------- */
.search-form {
	background: transparent;
	clear: both;
	position: relative;

	input[type="search"] {
		border-color: $color__base-xlight;
		display: inline-block;
		font-weight: $font__weight-bold;
	}

	input[type="submit"] {
		background: transparent;
		border: none;
		border-left: 1px solid $color__base-xlight;
		border-radius: 0;
		color: $color__base;
		display: inline-block;
		padding: .375em .75em .75em;
		position: absolute;
		right: 0;
		top: 0;
		-webkit-font-smoothing: antialiased;
		@include font-size(1.25);

		&:hover,
		&:focus {
			background: $color__base;
			color: #fff;
		}
	}
}
