.search-form,
.wp-block-search {
	background: transparent;
	clear: both;
	position: relative;

	input[type="search"] {
		display: inline-block;
		padding-right: 60px;
	}

	input[type="submit"],
	.wp-block-search__button {
		background: #fff;
		border: none;
		border-left: 1px solid $color__base-xlight;
		border-right: 1px solid $color__base-xlight;
		border-radius: 0;
		color: $color__base;
		display: inline-block;
		padding: .375em .75em .5em;
		position: absolute;
		right: 0;
		top: 1px;
		width: 55px;
		@include font-size(1.25);

		&:hover,
		&:focus {
			background: $color__highlight;
			color: #fff;
			cursor: pointer;
		}
	}
}
.wp-block-search__button {
	background: transparent;
	line-height: 1;
	padding: .9375em;
	bottom: 0;
}
