q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}

blockquote {
	background: rgba(153,153,153,0.05);
	margin: .75em 0 1.5em;
	padding: 1.5em 1.75em;
	position: relative;
	quotes: "\201C""\201D""\201C""\201D";

	@include breakpoint(phone-h) {
		padding: 1.25em 1.25em;
	}

	&:after {
		content: '';
	}

	&:before {
		//color: rgba(153,153,153,0.5);
		// content: "\201C";
		// line-height: 1.125;
		// font-family: Georgia, serif;
		background-color: rgba(153,153,153,0.2);
		content:'';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 8px;
		@include font-size(3.5);

	}

	cite {
		display: block;
		font-weight: $font__weight-bold;
		font-style: normal;
		line-height:1.25;
		margin-top: .5em;
		text-transform: uppercase;
		@include font-size(.875);

		&:before {
			content: '';
			width: 2.5em;
			height: .25em;
			margin-right: 1em;
			border-top: 1px solid $color__base;
			display: inline-block;
		}

		span {
			font-weight: $font__weight-normal;
			@include font-size(.75);
		}
	}

	p:last-child {
		margin-bottom: 0;
	}
}
