html {
	box-sizing: border-box;
	font-size: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

*,
*:before,
*:after { /* see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #f3f5f7;
	//-webkit-font-smoothing: antialiased;
}

img {
	height: auto;
	max-width: 100%;
}


ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}


/*
 * Typography
--------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: $color__base;
	font-weight: $font__weight-normal;
	line-height: $font__line-height-body;
	@include font-size(1);
}

/* Copy */

p, form, address {
	margin: 0 0 1.4em;
}

b, strong {
	font-weight: $font__weight-bold;
}

pre {
	background: rgba(153,153,153,0.15);
	font-family: $font__pre;
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	@include font-size(.9375);
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__base;
	cursor: help;
}


hr {
	background-color: rgba(0,0,0,0.15);
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;

	&.alt {
		background-color: rgba(255,255,255,0.5);
	}
}


::-moz-selection {
	background-color: rgba(153,153,153,0.5);
}
::selection {
	background-color: rgba(153,153,153,0.5);
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}
