table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1.5em;
  	width: 100%;
}

th, td {
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid rgba(153,153,153,0.5);
}
th {
    padding: 1em;
	text-align: left;
	background-color: rgba(153,153,153,0.15);
}
td {
    padding: 1em;
}
thead th, tfoot th {
    vertical-align: bottom;
}

caption + thead tr:first-child th,
caption + thead tr:first-child td,
colgroup + thead tr:first-child th,
colgroup + thead tr:first-child td,
thead:first-child tr:first-child th,
thead:first-child tr:first-child td {
    border-top: 0;
}

tbody + tbody {
    border-top: 2px solid rgba(153,153,153,0.5);
}

.striped tr:nth-child(odd) > td {
  background: rgba(153,153,153,0.1);
}
.striped tr:nth-child(even) > td {
  background: rgba(153,153,153,0.05);
}

.sidebar-widget.widget_calendar {
	th {
	    padding-left: 0;
		padding-right: 0;
	}
	td {
		padding-left: 0;
		padding-right: 0;
	}
}
